@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(to left, #fe710b, #ffb804);
  color: white;
}

.main-text-1, .main-text-2, .main-text-3 {
   color: white;
   -webkit-text-stroke: white;
   transition: color 0.5s cubic-bezier(.4,.4,.7,.85);
   -webkit-transition: color 0.5s cubic-bezier(.4,.4,.7,.85);
}

.outline-text {
    color: transparent !important;
    -webkit-text-stroke: 1px white !important;
    transition: color 0.5s cubic-bezier(.4,.4,.7,.85);
    -webkit-transition: color 0.5s cubic-bezier(.4,.4,.7,.85);
}